<body>
    <div class="container custom-container">
        <h1>

        </h1>
        <h4></h4>
        <ol>
            <li>
                <h5>General provisions</h5>
                <p>This agreement describes the rules and conditions on the basis of which the services of the biteca.org service are provided and is an official written public offer addressed to individuals (hereinafter referred to as the User), to conclude an Agreement on the provision of services by the Biteca.org service on the terms set forth below. Before using the services of the Biteca.org service, the User is obliged to fully familiarize himself with the terms of the “Agreement for the provision of services by the Biteca.org service”. Using the services of the Biteca.org service is possible only if the User accepts all the terms of the Agreement. The current version of the Agreement is located for public access on the website of the Biteca.org service.</p>
                <p>1.1. The Biteca.org service (hereinafter referred to as the Service) is a service that provides services to individuals and legal entities in terms of exchanging, buying or selling electronic currency. These services are provided through a special software package available at https://biteca.org/.</p>
                <p>1.2. The user is a legal / natural person who has unconditionally accepted all the conditions of this offer and uses the services of the Magnitiks.ru service</p>


                <p>1.3. Payment system - a software package created by a third party, through which digital currency units, electronic money and other obligations are accounted for, mutual settlements of users are organized, etc.</p>


                <p>1.4. Electronic money (electronic currency) is monetary or other obligations that arise between persons using this currency and those who created it. The mentioned obligations are in digital form.</p>


                <p>1.5. Operations (payments) are the transfer of digital currency (electronic money) from the sender's account to the recipient's account.</p>


                <p>1.6. Application - a specific intention of a visitor to the Biteca.org resource to use its services by accepting the relevant rules of this offer. This intention is expressed in the form of the user providing information and its transfer to the service through a special electronic form, which is located on the Biteca.org resource.</p>


                <p>1.7. The original electronic currency is the currency that is available to the user, and which he wants to exchange or sell, receiving in return other electronic currency or money in a different form.</p>


                <p>1.8. The received currency is the currency that the user of the Biteca.org service receives as a result of the exchange, transferring the original currency of the service.</p>


                <p>1.9. Parties are all users who unconditionally accepted the rules specified in this agreement and decided to use the services of the Magnitiks.ru service, as well as the Magnitiks.ru service itself.</p>


                <p>1.10. Currency exchange is a transaction for the exchange of electronic currency of various payment systems.</p>


                <p>1.11. Currency reserves - this is the amount of electronic money that the Biteca.org service has in its possession, and within which users can carry out exchange transactions through this service. Each user can get up-to-date information on the amount of reserves by visiting the main page of this service.</p>


                <p>1.12. The rate is the ratio of one electronic currency in relation to another in the process of making an exchange.</p>
            </li>
            <li>
                <h5>The subject of the agreement and the procedure for its entry into force</h5>
                <p>2.1. This agreement governs the relationship between the User and the Service regarding the services provided by the Service to the User and cancels all previous agreements between the Service and the User on this subject.</p>


                <p>2.2.This agreement does not cancel the current legislation of the countries of registration and location of the Service and the User, as well as contractual relations between the User and the Electronic Settlement System (systems).</p>


                <p>2.3.This agreement is considered accepted on the terms of a public offer accepted by the User during the submission of the Application, which is an integral part of this agreement.</p>


                <p>2.3.1. The information displayed by the Service about the parameters and conditions of the Application is recognized as a public offer.</p>


                <p>2.3.2. The acceptance of a public offer is recognized as the User's actions to complete the formation of the Application, confirming his intention to make a deal with the Service on the terms proposed by the Service immediately before the completion of the formation of the Application. In case of registration on the Website of the Service, this agreement comes into force at the moment of putting a tick in front of the words "I agree with the terms of the offer" and pressing the "Register" button.</p>


                <p>2.3.3. The date and time of acceptance, as well as the parameters of the conditions of the Application are fixed by the Service automatically at the moment the formation of the Application is completed.</p>


                <p>2.4. This agreement comes into effect from the moment the User completes the formation of the Application.</p>


                <p>2.5. This agreement terminates from the moment the details provided by the User receive Electronic Units in the amount provided for by the parameters of the User's Application, or from the moment the application is cancelled.


                    <p>2.6. The parties recognize this agreement in electronic form as equivalent in legal force to an agreement concluded in writing.


<p>2.7. The Service reserves the right to unilaterally make changes to this agreement without a corresponding notice to the User, but with the obligatory publication of the current version of the agreement on this page.</p>
            </li>
            <li>
                <h5>Subject of the agreement, cost of services rendered</h5>
                <p>3.1. The subject of this Agreement are services for the exchange, purchase and sale of title units of electronic payment systems, carried out by order of the User, as well as other services described on the website of the Service.</p>


                <p>3.2. The amount of the Biteca.org Service remuneration for the specified actions is reflected in the Application and confirmed by the User on one of the pages of the user interface.</p>


                <p>3.3. The cost of the services of the Magnitiks.ru Service is set by the Service management and published on the Service's website.</p>


                <p>3.4. The Biteca.org Service has the right to independently change the exchange rates of Electronic currencies and charged commissions at any time unilaterally, and notifies the Users of the Service by preliminary posting information about these changes on the Internet site of the Service.</p>


                <p>3.5.The Application created by the User on the Website of the Service indicates the Rate, the method of Exchange, as well as the total amount of transferred funds or electronic currency.</p>


                <p>3.6. The Biteca.org service charges the cost of its fee at the time of the relevant Transaction.</p>
            </li>
            <li>
                <h5> Terms of Service</h5>
                <p>4.1. Ordering services by the Biteca.org Service is carried out by the User by sending an Application through the Service's website.</p>


                <p>4.2. Management of the exchange process or obtaining information about the progress of the service by the User is carried out using the appropriate user interface located on the website of the Service.</p>


                <p>4.3. The processing of the User's Applications is carried out by the Service in strict accordance with the privacy policy (clause 5 of this agreement), as well as the policy to combat money laundering and prevent transactions that are illegal (clause 6 of this agreement).</p>


                <p>4.4. Accounting for transactions with electronic units is carried out by the Service in accordance with the regulations, rules and format of the relevant Electronic Settlement Systems.</p>


                <p>4.5. Any completed operation carried out by the Service at the request of the User is considered irrevocable, i.e. cannot be canceled by the User after its completion - receipt by the User of what is due to him under previously accepted terms of the transaction.</p>


                <p>4.6. If the User does not receive electronic units within one hour from the moment the User accepts the details provided by the Service, the agreement on the terms specified in the Application is considered unilaterally terminated by the Service as not having entered into force, without notifying the User about it.</p>


                <p>4.7. The Service has the right to engage third-party performers to fulfill its obligations.</p>


                <p>4.8. The Service has the right to refuse the User further service in case of violation by the User of any of the clauses of this agreement.</p>


                <p>4.9. All subsequent Applications created by the User after the Service refuses to further service the User are automatically frozen.</p>


                <p>4.10. The Service has the right to delay the execution of the transaction until the identification of the User's identity, by means of a phone call, as well as in other ways that do not contradict the current legislation.</p>


                <p>4.11. When using the services of the Biteca.org Service, the User confirms that he legally owns and disposes of the funds and electronic currency involved in the relevant Payment.</p>


                <p>4.12. The User undertakes to independently calculate and pay all taxes required in accordance with the tax legislation of the User's location.</p>


                <p>4.13. Special conditions of some Payment systems:</p>


- when the User sends funds in Bitcoin, Litecoin, Ethereum cryptocurrencies, the exchange request will be accepted for execution after two transaction confirmations


<p>4.14.Money laundering operations;</p>


- money laundering operations;

- obtaining income from drug trafficking;

- receipt of proceeds from criminal and/or terrorist activities;

- income from trade with countries, trade with which is prohibited by international organizations;

- income from any other illegal activity.


<p>4.15. The service has the right to terminate the agreement unilaterally if the client has violated the procedure for using the service.</p>


<p>4.16.1. The presence in the actions of the client of signs of a violation of the procedure for using the service is determined at the discretion of the service.</p>


<p>4.16.2 If the number of electronic units received differs from the number stated by the User or the payment was made in two payments, the application will be considered to be incorrect, as well as not paid. The refund in this case is made by means of an Identification Payment (see section 4.18).</p>


<p>4.16.3 Transfers to the details of our service without creating an exchange request are not counted as payment. You can make a refund by contacting our technical support.</p>


<p>4.16.4 The Service has the right to delay the execution of the transaction before the identification of the User by means of the Identification Payment, as well as the provision of information identifying the User as the owner of the address or addresses used for the exchange.</p>


<p>4.16.5 In the event that the number of electronic units received differs from the number stated by the User by more than 1%, the Service will freeze this transaction unilaterally. For a refund, the User must contact the technical support service of our Service.</p>


<p>4.16.6. If the user conducts an operation in which he gives or receives BTC, he must take into account the fact that any transaction in the BTC network can be confirmed from 30 minutes to a day. The service cannot affect the speed of transaction confirmation.</p>


<p>4.16.7. Details for payment of applications are valid for 60 minutes, after this time, transfers are not counted and are not refundable.</p>


<p>4.16.8. Transfers to our details without creating an exchange request are not counted as payment and are not refundable.</p>


<p>4.16.9. If the load on the Bitcoin network is high, the processing time for applications in the direction of Bitcoin return can be increased up to 40 minutes.</p>


<p>4.17. The service has the right to request any additional information about the payment made by the client on the application, such as: a check of the payment made on the application, a screenshot of the transaction made as payment for the application created by the client, TXID of the transaction, etc.</p>


<p>4.18. Identification Payment - this procedure is carried out in case of erroneous transactions on the part of the user. The rules of its conduct are governed by technical support, which you can contact in the "Contacts" section.</p>
            </li>
            <li>
                <h5>Privacy policy</h5>
                <p>5.1. To carry out operations, the Service accepts from the User his personal data, which the Service undertakes to store in encrypted form, not to make public, not to transfer to third parties, except as described in clauses 5.4, 5.5 and 6.5 of this agreement.</p>


                <p>5.2. All operations with Applications, as well as the transfer of personal data from the User to the Service, are carried out via an encrypted SSL channel with a key length of 256 bits.</p>


                <p>5.3. The Service has the right, if necessary, to independently carry out activities to collect additional data about the User by any available means. All information collected as a result of such activities is not made public, is not transferred to third parties, except for the cases described in clauses 5.4, 5.5 and 6.5 of this agreement.</p>


                <p>5.4. The Service has the right to transfer the User's personal data and details of the operations performed by him, provided that their confidential status is maintained upon an official written request / court decision / on its own initiative (in the event of a need for an investigation) to law enforcement agencies, as well as to the User to whom they belong.</p>


                <p>5.5. The Service has the right to transfer the details of the operation and the personal data of the User related to the operation at the official request of the Electronic Settlement System for internal investigations.</p>


                <p>5.6. All collected data about the User, as well as details of the operations performed by him, are stored in the database of the Service for three years from the moment the Service completed the last Application of the User.</p>
            </li>
            <li>
                <h5>Anti-money laundering and illegal transactions policy</h5>
                <p>6.1. In accordance with international law, Biteca.org adheres to a number of rules and implements a number of procedures aimed at preventing the use of the Service for the purpose of conducting money laundering operations, that is, actions aimed at returning money or other securities of illegal origin to the financial and economic market, representing their acquisition and possession is quite legal and normal, as well as carrying out other operations that are illegal.</p>


                <p>6.2. To prevent operations of an illegal nature, the Service establishes certain requirements for all Applications created by the User:</p>


                <p>6.2.1. The sender and recipient of the Payment under the Application must be the same person. Using the services of the Service, transfers in favor of third parties are strictly prohibited.</p>


                <p>6.2.2. All contact information entered by the User in the Application, as well as other personal data transmitted by the User to the Service, must be up-to-date and completely reliable.</p>


                <p>6.2.3. It is strictly forbidden to create Applications by the User using anonymous proxy servers or any other anonymous Internet connections.</p>


                <p>6.3. To prevent transactions of an illegal nature, the Service:</p>


                - Uses an internal system for automated analysis of transactions and the behavior of the User (fraud prevention system), which stops all suspicious transactions of the User.

                - Sets limits on the User's operations depending on the level of identification of the User's personality and the country of origin.

                - Adheres to the "Know Your Customer" policy.

                - It checks by all available means all the data provided by the User.


                <p>6.4. The Service reserves the right to freeze all current User Applications until the User receives copies of the User's identification documents, as well as the source of origin of the Electronic Units and other information necessary to verify the operation in the following cases:</p>


                - If a violation of any of the requirements presented in clause 6.2 of this Agreement is detected.

                - If there are reasonable suspicions from the administration of the Service that the user is trying to use the services of the Service for money laundering or for the purpose of carrying out any other illegal operations.

                - In turn, the User undertakes to submit the requested document within 7 working days from the receipt of a request for its provision, or request cancellation of the application.


                <p>6.4.1. If the User refuses to submit the requested documents, the Service reserves the right to refuse the User further service and take the actions described in clause 4.10 of this agreement.</p>


                <p>6.5. The Service reserves the right to refuse the User further service and take the actions described in clause 4.7 of this agreement, after which it transfers all the User's data available to the Service, as well as all available information about the User's operations to law enforcement agencies in the following cases:</p>


                -Detection of transactions aimed at money laundering, financing of terrorist organizations, fraud of any kind, as well as transactions aimed at carrying out any other illegal and illegal operations.

                - If there is a reasonable suspicion of the Service that the document provided by the User to identify the User is fake or invalid.

                - Receipt of information from the authorized bodies on the incompetence of the User's possession of electronic units or financial resources and / or other information that makes it impossible for the Service to provide services to the User.

                - Identification of any actions or attempts to perform actions by the User aimed at providing any negative impact on the software and hardware complex of the Service.

                - Identification of any actions or attempts to commit actions by the User aimed at stealing databases and other tangible and intangible property of the Service.

                - Identification of any actions or attempts to perform actions by the User that can cause any physical, material and non-material harm to the Service.


                <p>6.6. The Service reserves the right to check, by all means available to it, personal and any other information received from the User.</p>
            </li>
            <li>
                <h5>Disclaimer</h5>
                <p>7.1. The service is not a bank. The Service offers its services around the clock, seven days a week and will strive to ensure that the hardware and software system that implements the capabilities of the Service works without failures.</p>


                <p>7.2. The Service provides its services on an "as is" basis, as they are described on the pages of the Service's website and does not offer any additional warranties.</p>


<p>7.3. Using the Service, the User agrees that the scope of the Service's liability is limited to the funds received from the User to fulfill the subject of this agreement, that the Service does not provide additional guarantees and does not bear any additional responsibility to the User, just as the User does not bear additional responsibility to the Service, except for the cases specified in clause 7.9.</p>


<p>7.4. The Service will make every effort, but does not guarantee that its services will be available around the clock, every day. The Service does not bear any responsibility for losses, lost profits and other costs of the User resulting from the impossibility of obtaining access to the site and services of the Service.</p>


<p>7.5. The Service does not bear any responsibility for losses, lost profits and other costs of the User resulting from delays, errors or failures in making bank payments or electronic transfers.</p>


<p>7.6. The Service does not bear any responsibility for losses, lost profits and other costs of the User, resulting from the User's erroneous expectations regarding the tariff rates of the Service, the profitability of transactions and other subjective factors.</p>


<p>7.7. If the User provides erroneous data in the information about the details of the recipient of funds, the Service does not bear any responsibility for any adverse consequences or damage resulting from this error.</p>


<p>7.8. Using the services of the Service, the User is solely responsible for the payment of taxes in accordance with the tax legislation of the country at his place of residence. The Service is not a tax agent, and will not notify the User of any possible tax costs when using the services of the Service.</p>


<p>7.9. The User guarantees indemnification of the Service (the management company, managers and employees) in cases of claims or claims directly or indirectly related to the User's use of the Service's services, with the exception of losses caused by the guilty (intentional or negligent) actions of the Service itself.</p>


<p>7.10. The User undertakes to refrain from using the services of the Service for fraudulent and illegal transactions and agrees that any attempt to exchange fraudulent capital will be prosecuted to the fullest extent of the law. The actions of the User may be considered illegal in accordance with the laws of the country of residence of the User and / or the country where the Service is registered.</p>


<p>7.11. The User undertakes not to falsify communication flows related to the operation of the Service, not to interfere with its software and/or hardware, and not to exert any other influence that could disrupt the normal operation of the Service, realizing that such actions will be subject to prosecution throughout the severity of the law.</p>


<p>7.12. In case of detection of falsification of communication flows or any negative impact on the normal operation of the program code of the Service, which is directly or indirectly related to the User's application, the execution of the application by the Service is suspended, after which the actions described in clause 6.5 of this agreement are taken.</p>


<p>7.13. Neither the User nor the Service will be liable to each other for delays or failure to fulfill their obligations resulting from the occurrence of force majeure circumstances, including natural disasters, fire, flood, terrorist acts, power shifts, civil unrest, as well as the non-functioning of Electronic Settlement Systems, power supply systems, communication networks and Internet service providers.</p>


<p>7.14. Electronic settlement systems and/or financial institutions are solely responsible for the funds entrusted to them by the User. The Service cannot be a party to an agreement between the Payment System and/or a financial institution and the User, and is in no way responsible for the misuse or unauthorized use of the Electronic Settlement System by the User, as well as for the abuse by the User of the functionality of the Electronic Settlement System. The mutual rights and obligations of the User and the Electronic Settlement System and/or the financial institution are governed by the relevant agreements.</p>


<p>7.15. The User guarantees that he is not a citizen and tax resident of the United States of America.</p>


<p>7.16. All funds received by our service after three months, after the creation of the application, are at the disposal of the Biteca.org service. Service in the future can dispose of these funds at its discretion.</p>


<p>7.17. All funds received by the Biteca.org service without creating requests are placed at the disposal of the service.</p>


<p>7.18. In case of direct or indirect actions of the client, the service bears losses, the client is obliged to compensate the damage caused to the service in the amount of 100%. All current and further paid applications "payments" are transferred to the use of the service until the full coverage of the damage caused.</p>


<p>7.19. On the recommendation of the security services of payment systems, as well as the security services of our service, in order to avoid fraudulent activities and damage to our service, the processing of the client's application may be suspended for up to 24 hours, after the application will be executed.</p>


<p>7.20. Funds sent without creating an application or by mistake to our details are non-refundable.</p>
            </li>
            <li>
                <h5> The procedure for accepting claims and resolving disputes</h5>
                <p>8.1. Disputes and disagreements that have arisen as part of the provision of services by the Service to the User are resolved through negotiations between the User and the administration of the Service, based on the provisions of this agreement.</p>


                <p>8.1.1. Any claims under this agreement can be accepted by the Service in electronic form by sending a message on the essence of the claim to the details (contact page) indicated on the Service website.</p>


<p>8.2. If it is impossible to resolve emerging issues through negotiations, the dispute is resolved in accordance with the current legislation at the place of registration of the Service.</p>


            </li>
            <li>
                <h5>Final provisions</h5>
                <p>9.1.The Biteca.org service has the right to send the User information on the status of the exchange process, as well as other information, including advertising, to the e-mail specified by him.</p>


                <p>9.2.Information on the site, including graphic images, textual information, program codes, etc. is the property of the Biteca.org website and is protected by copyright laws. Each case of unauthorized copying (full or partial) can be prosecuted under applicable law.</p>


<p>9.3. Acceptance of this offer means the Payer’s unconditional consent to the Service’s processing of his personal data provided by the Payer to the Service for the purpose of providing services, for the purpose of sending informational and advertising messages to the Payer. Acceptance of this offer means the Payer’s unconditional consent to the Service’s processing of his personal data provided by the Payer to the Service for the purpose of providing services, for the purpose of sending</p>


<p>9.4.This consent may be revoked by the Payer at any time by providing the Service with an application to revoke consent to the processing of his personal data. This consent to the processing of personal data is provided for a period until the Payer revokes the consent to the processing of personal data.</p>


<p>9.5. The User confirms that he has read all the provisions of this Agreement and unconditionally accepts them, otherwise the User cannot use the Biteca.org Service.</p>


            </li>
        </ol>
      </div>
</body>